<div class="container my-5 justify-content-center">
    <div class="row justify-content-center align-items-center gy-5" >
        <div class="col-12 col-md-12 col-lg-6">
            <div class="ac-onetext">
                <p class="ac-onetext1 text-center">Besoin d'un site internet pour votre activité professionnelle ?</p>
                <p class="ac-onetext2 text-center">Je vous accompagne à créer cet outil capital <span> pour vous 
                    démarquer et vous faire connaitre</span>  auprès de vos futurs clients et prostects.
                </p>
            </div>
            
        </div>
        <div class="col-12 col-md-12 col-lg-6 align-self-center text-left moveimg" >
            <img src="https://imageshack.com/i/pmwWiNIpj" alt="" width="500" height="300">
        </div> 
    </div>
</div>